*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    display: flex;
    justify-content: center;
}

.alert1{
    background-color: #1bd152;
    height: 30px;
    display: none;
}

.first{
    padding: 7px;
}


.alert2{
    background-color: #f0ea48;
    height: 30px;
    display: none;
}

.second{
    padding: 7px;
}

.alert3{
    background-color: #f0ea48;
    height: 30px;
    display: none;
}

.third{
    padding: 7px;
}

.alert4{
    background-color: #f54336;
    height: 30px;
    display: none;
}

.four{
    padding: 7px;
}

.alert5{
    background-color: #f5cb36;
    height: 30px;
    display: none;
}

.five{
    padding: 7px;
}

.alert h4{
    margin: 10px;
    display: none;
    position: absolute;
    left: 5px;
    top: 25px;
}

.container{
    position: absolute;
    left: 43%;
    top: 20%;
}

.container h3{
    margin: 8px;
}

.container button{
    margin: 15px;
}

.container input{
    width: 400px;
    height: 30px;
}

.container button{ 
   width: 100px;
   height: 30px;
}

.list{
    position: absolute;
    left: 38%;
    top: 60%;
}

.list tr th{
    padding: 60px;
}